.App{
  background-image: url(./images/bg2.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  overflow: hidden;
  background-color: rgb(5, 4, 17);
}

.body-text{
  width:50%;
}
.body-text>h1{
  font-size:87px;
  margin-top:150px
}
.body-text>p{
  font-size:23px;
  word-spacing:0.1rem;
  letter-spacing:0.1rem
}
@media (max-width: 768px) {
  .body-text{
    width:80%;
  }
  .body-text>h1{
    font-size:40px;
    margin-top:250px;
  }
  .body-text>p{
    font-size:14px;
    word-spacing:0.05rem;
    letter-spacing:0.1rem;
  }
  .App{
    background-image: url(./images/bg.jpg);
    }
}
.paddingcontainer{
  padding-left: 20px;
  padding-right:20px;
}
@media (min-width: 768px){
  .paddingcontainer{
    padding-left: 60px;
    padding-right:60px;
}
}
